/* 헤더관련 CSS 파일 */
header {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    justify-items : center;
    margin-bottom : 10px;
}

.LOGOimg { 
    text-align: center;
}

.logout {
    width : 100px;
    height : 80px;
}
  
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 10px;
}

/* 이미지 드래그 방지 */
img {
    -webkit-user-drag : none;
}

.runner {
    top : 25px;
    left : 120px;
    position : absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 2s;
    opacity : 0;
}
.logout {
    width : 80px;
    height : 100px;
    background-color : #555555;
    margin-top: 5px;
    border-radius: 10px;
    font-weight : bold;
    text-align : center;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}

.door {
    width: 80px;
    height: 100px;
    border: 3px solid #2e2e2e;
    border-radius: 10px;
    position: absolute;
    top : 0;
    left : 0;
    font-size : 20px;
    line-height : 100px;
    background-color: #97BC7E;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 2s;
}

.logout:hover .door {
    background-color: black;
    transform : rotateY(-70deg);
}

.logout:hover .runner {
    transform : translateX(-70px);
    opacity : 1;
}
