html, body {
    background-color: #F7F7F7;
}

/* 헤더관련 CSS 파일 */
header {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    justify-items : center;
    align-items : center;
    margin-bottom : 10px;
}

.LOGOimg { 
    text-align: center;
    padding : 10px 5px;;
}

.LOGOimg a img {
    width : 180px;
    height : 90px;
    background-color: transparent;
}

.logout {
    width : 64px;
    height : 80px;
}
  
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 10px;
}

/* 이미지 드래그 방지 */
img {
    -webkit-user-drag : none;
}

.runner {
    top : 25px;
    left : 120px;
    position : absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s;
    opacity : 0;
}

.runner img {
    width : 50px;
    height : 50px;
}

.logout {
    width : 64px;
    height : 80px;
    background-color : #555555;
    border-radius: 10px;
    font-weight : bold;
    text-align : center;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}

.door {
    width: 64px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top : 0;
    left : 0;
    font-size : 16px;
    line-height : 80px;
    background-color: #A9D18E;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s;
}

.logout:hover .door {
    background-color: black;
    transform : rotateY(-70deg);
}

.logout:hover .runner {
    transform : translateX(-80px);
    opacity : 1;
}