* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
  }

  html, body {
    /* 배경화면 사진넣기 및 전체화면화 */
    background :
        url(../images/index.jpg) 
        no-repeat center fixed;
    background-size : cover;
}

.loading {
    position : absolute;
    width : 100vw;
    height : 100vh;
    font-size: 50px;
    line-height : 20vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(240, 248, 255, 0.7);
}

.text2 {
    color:cadetblue;
}
