* {
    font-family: 'Do Hyeon', sans-serif;
}

#login_box{
    width : 600px;
    min-height : 800px;
    top : calc(50% - 400px);
    left : calc(50% - 300px);
}

ul, li, label {
    margin : 0;
    padding : 0;
}

ul { list-style : none; }

.warning_text {
    color : red;
    font-size : 9px;
}

.signup_label_star {
    color : red;
}

h2 {
    margin-top : 0;
}

.signup_label, fieldset {
    font-size : 20px;
}

li input {
    width : 100%;
    font-size : 20px;
    min-height : 35px;
}

fieldset {
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

fieldset label {
    display : grid;
    grid-template-columns: 1fr 1fr;
}