* {
    font-family: 'Do Hyeon', sans-serif;
}
ul, li, label {
    margin : 0;
    padding : 0;
}

ul { list-style : none; }

.warning_text {
    color : red;
    font-size : 9px;
}

.signup_label_star {
    display : none;
    color : red;
}