* {
    font-family: 'Do Hyeon', sans-serif;
}

img {
    -webkit-user-drag : none;
}

#login_box{
    width : 600px;
    min-height : 800px;
    top : calc(50% - 400px);
    left : calc(50% - 300px);
}

ul, li, label {
    margin : 0;
    padding : 0;
}

ul { list-style : none; }

li { margin-top : 10px;}

.warning_text {
    color : red;
    font-size : 14px;
    margin-left : 10px;
}

.signup_label_star {
    color : red;
}

.signup_label, fieldset {
    font-size : 20px;
}

li input {
    width : 98%;
    font-size : 20px;
    min-height : 35px;
    padding-left : 10px;
    border-radius : 10px;
}

li input:focus {
    background-color: #cccccc;
}

fieldset {
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align : center;
    border-radius : 10px;
}

fieldset label {
    display : grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    justify-items : center;
    align-items : center;
}

/* 분야선택 라벨 colspan */
#exercise, #habit, #manner, #study { grid-column : 1 / span 2; }

#btn {
    display : grid;
    grid-template-columns : 1fr 1fr;
    margin-top : 20px;
    min-height : 50px;
    gap : 50px;
}

#btn button {
    font-size : 20px;
    border-radius: 15px;
}

#cancle { background-color : #FF0000; }

#cancle:hover { background-color : rgba(255, 0, 0, 0.5); }

#demand { background-color : #0080FF; }

#demand:hover { background-color: rgba(0, 128, 255, 0.5); }