/* 로그인 정보 입력 세션 */
#inputID, #inputPW {
    display : grid;
    grid-template-columns: 1fr 9fr;
}

img {
    margin : auto;
    vertical-align: middle;
}

input.input_box {
    /* input 박스 밑줄 모델 */
    border-top-width : 0px;
    border-right-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 1px;

    /* 상자 크기 및 글자크기 조정 */
    min-height : 35px;
    font-size : 16px;
}

/* 회원가입, 아이디찾기, 비밀번호찾기 */

#other_option {
    display : grid;
    grid-template-columns : 2fr 1fr 2fr;
    margin-top : 25px;
    margin-bottom : 20px;
    text-align : center;
    font-size : 13px;
}

a {
    font-weight : bolder;
}

a:link, a:visited, a:active {
    color : #000000;
    text-decoration : none;
}

a:hover { 
    color : #0077FF;
    text-decoration : underline;
}

/* 
<로그인 버튼 섹션>
# 참고자료
  * 구글 로그인 버튼 가이드라인 
    https://developers.google.com/identity/branding-guidelines?hl=ko
  * 네이버 로그인 버튼 가이드라인
    https://developers.naver.com/docs/login/bi/bi.md
  * 카카오 로그인 버튼 가이드라인
    https://developers.kakao.com/docs/latest/ko/reference/design-guide
*/
    

#login, #google_login, #naver_login, #kakao_login {
    margin-top : 7px;
    height : 50px;
    width : 100%;
    font-size : 18px;
    border-style : none;
    border-radius : 12px;
    font-weight : bolder;
}

#login {
    background-color : #000000;
    color : #FFFFFF;
    text-align : center;
    line-height : 40px;
}

#login:hover {
    cursor : pointer;
    background-color : #0077FF;
}


#google_login, #naver_login, #kakao_login {
    text-align : left;
    line-height : 30px;
}


#google_login { background-color : #FFFFFF; }

#naver_login { background-color : #03C75A; }

#kakao_login { background-color : #FEE500; }

#kakao_login:hover {
    cursor : pointer;
    text-decoration : underline;
}

#kakao_icon {
    margin-top : 3px;
    margin-left : 10px;
    margin-right : 67px;
}