* {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #f7f7f7;
}

/*상위 단락에 대한 CSS 코드*/
.up{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0.5em;
}

#down {
    font-size: 50px;
    text-align: center;
}

/*중위 단락에 대한 CSS 코드*/
.left{
    float: left;
    border: 3px solid #548235;
    border-radius: 8px;
    margin: 0.5em;
    padding: 10px;
    
}

.right{
    float: right;
    border: 3px solid #548235;
    border-radius: 8px;
    margin: 0.5em;
    padding: 5px;
}

.center{
    float: center;
    border: 3px solid #548235;
    border-radius: 8px;
    margin: 0.5em;
    padding: 5px;
}

.left:hover,
.right:hover,
.center:hover {
    background: #e2f2d7;
}

article{
    height: 15em;
}

/* 글자에 대한 CSS 코드*/
.title{
    background-color: #548235;
    color:#fff;
    padding: 10px;
    margin: 0.5em;
    border-radius: 3px;
    font-size: 40px;
    display: inline-block;
}

.zeromargin{
    margin: 0.5em 0em 0em 0.5em;
    font-size: 25px;
}

.highlight-a{
    margin: 0em 0em 0em 1.5em;
    font-size: 5em;
    line-height: 5px;
    color: #548235;
    text-align: right;
    display: inline-block;
}

.highlight-b{
    font-size: 2em;
    color: #6A5ACD;
    margin: 0.25em;
    display: inline-block;
    font-size: 38px;
}

.highlight-c {
    font-size: 20px;
}

.mission{
    border:1px solid #548235;
    margin: 0.5em;
    border-radius: 2px;
    display:inline-block;
    width: 12em;
    word-break:break-all;
}

.link{
    border:#548235;
    background-color: #548235;
    color:#fff;
    padding: 10px;
    margin: 0.5em;
    border-radius: 2px;
    display:inline-block;
    position: relative;
    float: right;
    font-size: 20px;
}

.link:hover {
    background-color: #6A5ACD;
}
