* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Do Hyeon', sans-serif;
}

.LOGOimg {
	text-align: center;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	margin-bottom: 10px;
}

html, body {
	overflow-x: hidden;
}

.container {
	display: flex;
	font-size: 18px;
}

#rankboard {
	background-color: #badaa4;
	flex-shrink: 1;
	min-height: 60rem;
	max-height: 60rem;
	overflow-y: auto;
}


#ranktable {
	border-color: #000000;
	border: 1px solid black;
	flex-shrink: 1;
	background-color: #A9D18E;
	width: 95%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

	#ranktable thead {
		background-color: #f8d5d5;
	}

		#ranktable thead th {
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}

		#ranktable thead .rank {
			width: 20%;
		}

	#ranktable tbody {
			background-color: #b5e3ff;
	}

		#ranktable tbody td {
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}
