* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Do Hyeon', sans-serif;
}

.LOGOimg {
	text-align: center;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	margin-bottom: 10px;
}

/*  
################# HEADER 
*/

.container {
	padding: 20px;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10px;
	background: #A9D18E;
}

	.container div {
		margin-left: 15px;
	}

.line {
	margin-top: 20px;
	margin-bottom: 5px;
}

	.line * {
		vertical-align: middle;
	}

	.line label {
		font-size: large;
	}

#UserProfile {
	display: flex;
}

	#UserProfile span {
		margin-left: 30%;
	}

	#UserProfile button {
		margin-left: 19%;
		margin-bottom: 10%;
	}

.scoreboard {
	font-size: x-large;
	border: solid 2px;
	width: 30%;
	display: inline-block;
	text-align: left;
}

	.scoreboard div span {
		color: #ED5753;
	}

.modal-dialog {
	margin: auto;
}

.modal-footer .btn-danger {
	width : 14%;
}

.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: x-large;
	color: #0D6EFD;
}

.Item {
	width: 25%;
}

.UserInfoItem {
	margin-top: 10px;
}

#changebutton {
	margin-right: 5px;
}

.LoadingCircle {
	visibility: hidden;
	color: #FFFFFF;
}


#changeinfo, #changesetting {
	margin-right: 10px;
}
